<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.AlertInfoMapper">

    <insert id="insertStationAlertInfo" parameterType="com.authine.cloudpivot.web.api.entity.StationAlertInfo">
        INSERT INTO i6t21_ls_station_alert_info(id, name, creater, createdDeptId, owner, ownerDeptId, createdTime,
                                                modifier,
                                                modifiedTime, workflowInstanceId, sequenceNo, sequenceStatus,
                                                ownerDeptQueryCode, call_police_total, fire_alarm_num,
                                                emergency_rescue_num,
                                                false_alarm_num, social_assistance_num, other_alert_num, date,
                                                station_id)
        VALUES (#{id}, #{name}, #{creater}, #{createdDeptId}, #{owner}, #{ownerDeptId},
                #{createdTime}, #{modifier}, #{modifiedTime}, #{workflowInstanceId},
                #{sequenceNo},
                #{sequenceStatus}, #{ownerDeptQueryCode}, #{callPoliceTotal}, #{fireAlarmNum},
                #{emergencyRescueNum},
                #{falseAlarmNum}, #{socialAssistanceNum}, #{otherAlertNum}, #{date},
                #{stationId})
    </insert>

    <select id="getStationAlertInfoByStationId"
            resultType="com.authine.cloudpivot.web.api.entity.StationAlertInfo">
        SELECT *
        FROM i6t21_ls_station_alert_info
        WHERE station_id = #{stationId}
          AND date = #{date}
    </select>

    <update id="updateStationAlertInfoByStationId" parameterType="com.authine.cloudpivot.web.api.entity.AlertInfo">
        UPDATE i6t21_ls_station_alert_info
        SET call_police_total     = #{callPoliceTotal},
            fire_alarm_num        = #{fireAlarmNum},
            emergency_rescue_num  = #{emergencyRescueNum},
            social_assistance_num = #{socialAssistanceNum},
            false_alarm_num       = #{falseAlarmNum},
            other_alert_num       = #{otherAlertNum}
        WHERE id = #{id}
    </update>

    <select id="getDateBrigadeAlertInfoByBrigadeId"
            resultType="com.authine.cloudpivot.web.api.entity.BrigadeAlertInfo">
        SELECT *
        FROM i6t21_ls_brigade_alert_info
        WHERE brigade_id = #{brigadeId}
          AND date_format(date, '%Y-%m-%d') = date_format(#{date}, '%Y-%m-%d')
    </select>

    <select id="getMonthBrigadeAlertInfoByBrigadeId"
            resultType="com.authine.cloudpivot.web.api.entity.BrigadeAlertInfo">
        SELECT *
        FROM i6t21_ls_brigade_alert_info
        WHERE brigade_id = #{brigadeId}
          AND date_format(date, '%Y-%m') = date_format(#{date}, '%Y-%m')
    </select>

</mapper>