<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.CarsInfoMapper">

    <resultMap id="carsInfos" type="com.authine.cloudpivot.web.api.dto.VehicleInfoDto">
        <id column="id" property="id"/>
        <collection property="vehicleInfos" column="id"
                    select="com.authine.cloudpivot.web.api.mapper.CarsInfoMapper.getVehicleInfoByParentId"/>
    </resultMap>
    <select id="getCarsInfosByStationId" parameterType="java.lang.String" resultMap="carsInfos">
        SELECT *
        FROM i6t21_ls_vehicle
        WHERE station_id = #{stationId}
        ORDER BY createdTime DESC
        LIMIT 0, 1
    </select>

    <select id="getVehicleInfoByParentId" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.VehicleInfo">
        SELECT *
        FROM i6t21_v_vehicle_Info
        WHERE parentId = #{id}
    </select>

    <update id="updateCarsStatusById">
        UPDATE i6t21_v_vehicle_Info
        SET vehicle_status = #{status}
        WHERE id = #{id}
    </update>

</mapper>