<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.DeptMapper">

    <select id="getUserBydeptId" resultType="java.lang.String">
        SELECT userId
        FROM h_org_dept_user
        where deptId = #{deptId}
    </select>


    <select id="getUsersById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.Unit">
        SELECT id, 3 as type, name, imgUrl
        FROM h_org_user
        WHERE status = "ENABLE"
        AND id IN (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </select>

    <select id="getddDeptId" resultType="java.lang.String">
        SELECT sourceId FROM h_org_department where id= #{deptId}
    </select>
</mapper>