<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.DutyInfoMapper">

    <resultMap id="stationDutyInfo" type="com.authine.cloudpivot.web.api.dto.StationDutyInfoDto">
        <id column="id" property="id"/>
        <collection property="stationDutyCadres" column="id"
                    select="com.authine.cloudpivot.web.api.mapper.DutyInfoMapper.getStationDutyCadreByParentId"/>
        <collection property="brigadeHeadquarters" column="id"
                    select="com.authine.cloudpivot.web.api.mapper.DutyInfoMapper.getBrigadeHeadquarterByParentId"/>
    </resultMap>
    <select id="getStationDutyInfoByStationId" resultMap="stationDutyInfo">
        SELECT *
        FROM i6t21_ls_station_duty_info
        WHERE station_id = #{stationId}
          AND YEARWEEK(date_format(date, '%Y-%m-%d')) = YEARWEEK(#{date});
    </select>

    <select id="getStationDutyCadreByParentId" parameterType="java.lang.String"
            resultType="java.lang.String">
        SELECT duty_name
        FROM i6t21_di_station_duty_cadre
        WHERE parentId = #{parentId}
    </select>

    <select id="getBrigadeHeadquarterByParentId" parameterType="java.lang.String"
            resultType="java.lang.String">
        SELECT duty_name
        FROM i6t21_di_brigade_headquarter
        WHERE parentId = #{parentId}
    </select>
    <resultMap id="brigadeDutyInfo" type="com.authine.cloudpivot.web.api.dto.BrigadeDutyInfoDto">
        <id column="id" property="id"/>
        <collection property="commanders" column="id"
                    select="com.authine.cloudpivot.web.api.mapper.DutyInfoMapper.getCommanderByParentId"/>
        <collection property="commandAssistants" column="id"
                    select="com.authine.cloudpivot.web.api.mapper.DutyInfoMapper.getCommandAssistantByParentId"/>
    </resultMap>
    <select id="getBrigadeDutyInfoByBrigadeId" resultMap="brigadeDutyInfo">
        SELECT *
        FROM i6t21_ls_brigade_duty_info
        WHERE brigade_id = #{brigadeId}
          AND YEARWEEK(date_format(date, '%Y-%m-%d')) = YEARWEEK(#{date});
    </select>

    <select id="getCommanderByParentId" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.Commander">
        SELECT *
        FROM i6t21_bdi_commander
        WHERE parentId = #{id}
    </select>

    <select id="getCommandAssistantByParentId" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.CommandAssistant">
        SELECT *
        FROM i6t21_bdi_command_assistant
        WHERE parentId = #{id}
    </select>

</mapper>