<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.PsychologyManDataMapper">



    <resultMap id="psychologyManData" type="com.authine.cloudpivot.web.api.entity.PsychologyManData">
        <id property="id" column="id"/>
        <id property="id" column="id"/>

        <collection property="photo" column="id"
                    select="com.authine.cloudpivot.web.api.mapper.PsychologyManDataMapper.getPhoto"/>

    </resultMap>

    <select id="getPsychologyManData" resultMap="psychologyManData">
        SELECT a.*,b.userId as ddUserId
      FROM igpgf_psychology_man_data a
       left join h_org_user b on a.counselorName like concat('%',b.id,'%')
    </select>

    <select id="getPsychologyManDataId" resultMap="psychologyManData">
        SELECT a.*,b.userId as ddUserId
      FROM igpgf_psychology_man_data a
       left join h_org_user b on a.counselorName like concat('%',b.id,'%')
      where a.id = #{id}
    </select>

    <select id="getPhoto" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT refId
      FROM h_biz_attachment
      WHERE bizObjectId = #{id}
      AND schemaCode = 'psychology_man_data'
      AND bizPropertyCode = 'photo'
      ORDER BY createdTime DESC

    </select>


    <select id="getPsychologyManDataList" resultType="com.authine.cloudpivot.web.api.entity.PsychologyManData"
            parameterType="com.authine.cloudpivot.web.api.entity.PsychologyManData">
        SELECT a.*,b.userid as ddUserId,c.refId as photo
      FROM igpgf_psychology_man_data a
      left join h_org_user b on a.counselorName like concat('%',b.id,'%')
      left join h_biz_attachment c on a.id=c.bizObjectId and c.schemaCode = 'psychology_man_data'
      and c.bizPropertyCode = 'photo'
        where 1=1
        <if test="id != null and id != ''">
            and  a.id=#{id}
        </if>
        <if test="area != null and area != ''">
            and a.area =#{area}
        </if>
        <if test="level != null and level != ''">
            and  a.level=#{level}
        </if>
        <if test="sex != null and sex != ''">
            and a.sex =#{sex}
        </if>
        <if test="subscrib != null">
            and a.subscrib =#{subscrib}
        </if>
    </select>


</mapper>