<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.QuantiAssessmentMapper">

    <select id="getAssess" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.QuantiAssessment">
        select *,
               (select ifnull(sum(score), 0) + 100
                from i6t21_ls_quantitative_assessment
                where evaluation_name = a.evaluation_name
                  and team = a.team
                  and PERIOD_DIFF(date_format(now(), '%Y%m'), date_format(date, '%Y%m')) = 1) lastMonthScore,
               (select ifnull(sum(score), 0) + 100
                from i6t21_ls_quantitative_assessment
                where evaluation_name = a.evaluation_name
                  and team = a.team
                  and DATE_FORMAT(date, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m'))             currentMonthScore
        from i6t21_ls_quantitative_assessment a
        WHERE YEARWEEK(date_format(date, '%Y-%m-%d')) = YEARWEEK(now())
          and station_id = #{stationId}
    </select>

    <update id="updateQuantiAssessmentById" parameterType="com.authine.cloudpivot.web.api.entity.QuantiAssessment">
        UPDATE i6t21_ls_quantitative_assessment
        <set>
            <if test="score != null">score=#{score},</if>
            <if test="project != null">project=#{project},</if>
            <if test="team != null">team=#{team},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>