<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.ScaleTestResultMapper">

    <resultMap id="resultAndDanger" type="java.util.Map">
        <id property="result" column="result" javaType="java.lang.String" jdbcType="VARCHAR"></id>
        <id property="danger" column="danger" jdbcType="VARCHAR"></id>
    </resultMap>

    <!--property是实体类中字段；column是数据库中字段 -->
    <resultMap id="sendUserInfo" type="java.util.Map">
        <id property="name" column="name" javaType="STRING" jdbcType="VARCHAR"/>
        <id property="mobile" column="mobile" javaType="STRING" jdbcType="VARCHAR"/>
        <id property="deptName" column="deptName" javaType="STRING" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getsendUserInfo" resultMap="sendUserInfo" parameterType="java.lang.String">
        select a.name ,a.mobile,b.name as deptName  from h_org_user a,h_org_department b
         where a.departmentId=b.id and
         a.userId=#{userId}
         limit 1
    </select>

    <select id="getResultByScore" resultMap="resultAndDanger">
        select result,danger from igpgf_scale_test_result  where parentId=#{parentId}
        and min_score <![CDATA[ <= ]]> #{score} and
        #{score} <![CDATA[ <= ]]> max_score
        LIMIT 1
    </select>

    <select id="getIdByddId" resultType="java.lang.String">
        SELECT id
        FROM h_org_user
        WHERE userId = #{userId}
    </select>

    <select id="getDeptIdByKey" resultType="java.lang.String">
        SELECT departmentId
        FROM h_org_user
        WHERE id = #{id}
    </select>

    <select id="getIsLeaderById" resultType="java.lang.String">
        SELECT leader
        FROM h_org_user
        WHERE id = #{id}
    </select>

    <select id="getIsZhuGuan" resultType="java.lang.String">
        SELECT Id
        FROM h_org_role_user
        WHERE userId = #{userId}
        and roleId= #{roleId}
        limit 1
    </select>

    <select id="getDdIdByUserId" resultType="java.lang.String">
        SELECT userId
        FROM h_org_user
        WHERE  #{userId} like concat('%',id,'%')
    </select>

    <select id="getDeptIdByddId" resultType="java.lang.String">
        SELECT id
        FROM h_org_department
        WHERE sourceId = #{deptId}
        limit 1
    </select>


    <select id="getoptionResult" resultType="java.lang.String">
        SELECT optionResult
        FROM igpgf_scale_test_detail
        WHERE id = #{id}
    </select>

    <insert id="insertScaleTestAcore" parameterType="com.authine.cloudpivot.web.api.entity.ScaleTestAcore">
        INSERT INTO igpgf_scale_test_acore
       (id, name, creater, createdDeptId, owner, ownerDeptId, createdTime,
            modifier,modifiedTime, workflowInstanceId,
            sequenceNo, sequenceStatus,ownerDeptQueryCode,
            scaleTest,userId,testTime,testScore,
            testResult,testDetail,danger)
        VALUES (#{id}, #{name}, #{creater}, #{createdDeptId}, #{owner}, #{ownerDeptId},
                now(), #{modifier}, now(), #{workflowInstanceId},
                #{sequenceNo},#{sequenceStatus}, #{ownerDeptQueryCode},
                #{scaleTest},#{userId},  now(), #{testScore},
                #{testResult}, #{testDetail}, #{danger})
    </insert>

    <select id="getScaleTestResultInfo" resultType="com.authine.cloudpivot.web.api.entity.ScaleTestAcore"
            parameterType="com.authine.cloudpivot.web.api.entity.ScaleTestAcore">
        select a.*,
        b.name as userName,b.gender as userSex,TIMESTAMPDIFF(YEAR, b.birthday, CURDATE()) as userAge,
        b.departmentId as userdeptId,b.imgUrl as userImgUrl, c.name as userdeptName,d.title   as scaleTestName,
        d.smallTypeName as smallTypeNameId,e.smallTypeName as smallTypeName
         from igpgf_scale_test_acore a
         left join h_org_user b on a.userId like concat('%',b.id,'%')
          left join h_org_department c on  b.departmentId=c.id
        left join igpgf_scale_test d on a.scaleTest=d.id
        left join igpgf_scale_type_small e on d.smallTypeName=e.id
        where 1=1
        <if test="scaleTest != null and scaleTest != ''">
          and  a.scaleTest=#{scaleTest}
        </if>
        <if test="userId != null and userId != ''">
            and a.userId like concat('%',#{userId},'%')
        </if>
        <if test="testTime != null and testTime !='' "><!--时间格式不能用 ！='' -->
            AND date_format(a.testTime, '%Y-%m-%d') = date_format(#{testTime}, '%Y-%m-%d')
        </if>
        <if test="danger != null and danger != ''">
            AND a.danger=#{danger}
        </if>
        <if test="resolved != null and resolved != ''">
            AND a.resolved=#{resolved}
        </if>
        <if test="userdeptId != null and userdeptId != ''">
            AND b.departmentId=#{userdeptId}
        </if>
    </select>

    <select id="getScaleConsultDetail" resultType="com.authine.cloudpivot.web.api.entity.ScaleConsultDetail">
        select a.*,b2.name as ownerName,
        b.name as userName,b.gender as userSex, b.birthday as birthday,b.userId as sonsultUserDdId,
        b.departmentId as userdeptId,b.identityNo as identityNo,b.imgUrl as userImgUrl, c.name as userdeptName
        from igpgf_scaleConsultDetail a
        left join h_org_user b on a.sonsultUser like concat('%',b.id,'%')
        left join h_org_user b2 on a.owner =b2.id
        left join h_org_department c on  b.departmentId=c.id
        where 1=1
        <if test="deptId != null and deptId != ''">
            and  a.dept like concat('%',#{deptId},'%')
        </if>
        <if test="userId != null and userId != ''">
            and a.sonsultUser like concat('%',#{userId},'%')
        </if>
       group by a.sonsultUser
    </select>

    <select id="getScaleConsultDetailByPerson" resultType="com.authine.cloudpivot.web.api.entity.ScaleConsultDetail">
        select
        b.name as userName,b.gender as userSex, b.birthday as birthday,b.userId as sonsultUserDdId,
        b.departmentId as userdeptId,b.identityNo as identityNo,b.imgUrl as userImgUrl, c.name as userdeptName
        from  h_org_user b
        left join h_org_department c on  b.departmentId=c.id
        where b.id=#{userId}
    </select>

    <select id="getScaleAcoreByUserId" resultType="com.authine.cloudpivot.web.api.entity.ScaleTestAcore">
        select a.id,DATE_FORMAT(a.testTime,'%Y-%m-%d')  as testTime,
        d.title   as scaleTestName,
        d.smallTypeName as smallTypeNameId,e.smallTypeName as smallTypeName
        from igpgf_scale_test_acore a
        left join igpgf_scale_test d on a.scaleTest=d.id
        left join igpgf_scale_type_small e on d.smallTypeName=e.id
        where
           a.userId like concat('%',#{userId},'%')
      order by testTime desc
    </select>

    <select id="getDeptUserIdList" resultType="java.lang.String">
        select id from h_org_user where
        status ='ENABLE'
        and departmentId=#{deptId}
        GROUP BY id
    </select>

    <select id="getcepingNum" resultType="java.lang.Integer">
        select COUNT(DISTINCT a.userId) from igpgf_scale_test_acore a, h_org_user c
         where a.userId like concat('%',c.id,'%')
        and c.departmentId=#{deptId}
        <if test="danger != null and danger != ''">
            and a.danger= #{danger}
        </if>
    </select>

    <select id="getshudaoNum" resultType="java.lang.Integer">
       select  COUNT(DISTINCT a.sonsultUser)
       from igpgf_scaleConsultDetail a, h_org_user c
       where a.sonsultUser like concat('%',c.id,'%')
        and c.departmentId=#{deptId}
    </select>

    <select id="getdeptName" resultType="java.lang.String">
       select  name
       from h_org_department
      where  id=#{deptId}
    </select>

</mapper>