<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.TrainInfoListMapper">

    <select id="getWorkInfo" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.WorkInfo">
        SELECT *
        FROM i1e6k_work_info
        WHERE owner = #{id}
        order by createdTime desc limit 1
    </select>


    <resultMap id="trainInfoList" type="com.authine.cloudpivot.web.api.dto.TrainInfoList">
        <id column="id" property="id"/>
        <id property="id" column="id"/>
        <collection property="checkDetails" column="id"
                    select="com.authine.cloudpivot.web.api.mapper.TrainInfoListMapper.getCheckDetail"/>

    </resultMap>
    <select id="getTrainInfoList" resultMap="trainInfoList">
        SELECT *
        FROM i1e6k_train_info
        WHERE owner =  #{userId}
        order by createdTime desc limit 1
    </select>

    <select id="getCheckDetail" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.CheckDetail">
    SELECT *
	FROM i1e6k_checkDetail
	WHERE  parentId = #{id}
    </select>



</mapper>